.home-data-area{

    margin-top: 100px;
}
.home-data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-top: 20px;
}
.more{
    text-align: center;
}
.more-bt{
    text-decoration: none;
background-color: #669cbc;
padding: 8px 32px;
border-left:2px solid #fff;
color: #fff;
transition : 1s;
margin-top: 20px;
}
.medical-area{
    margin: 50px 0;
}

.medical-head{
    display: block;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 700;
}
.m{
    display: block;
    font-size: 18px;
    color: #666666;
    margin-bottom: 15px;
}





@media only screen and (max-width: 668px){ 
    .home-data{
        grid-template-columns: repeat(1,1fr);
    }
    
}